<div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form gf-form--grow">
        <input
         class="gf-form-input"
         placeholder="Sensor name"
         ng-model="ctrl.annotation.annsensor"
        />
      </div>
      <div class="gf-form gf-form--grow">
        <input
         class="gf-form-input"
         placeholder="Meta attribute"
         ng-model="ctrl.annotation.annkey"
        />
      </div>
      <div class="gf-form gf-form--grow">
        <input
         class="gf-form-input"
         placeholder="Filter by value"
         ng-model="ctrl.annotation.annfilter"
        />
      </div>
    </div>
  </div>
  